<div class="container-md" style="padding: 50px 0px;">
    <div class="row">
    
      <div class="col-sm">
        <form [formGroup]="postForm" (ngSubmit)="callingFunction()">
          <h3>Maximization of a Function</h3><br>    
        
          <label>
            <p>Population Size</p>
            <input type="text" formControlName="populationSize">
          </label> <br><br>

          <label>
            <p>Crossover Rate</p>
            <input type="text" formControlName="crossoverRate">
          </label> <br><br>

          <label>
            <p>MutationRate</p>
            <input type="text" formControlName="mutationRate">
          </label> <br><br>

          <label>
            <p>Number Of Generation</p>
            <input type="text" formControlName="numberOfGenerations">
          </label> <br><br>
          <br>
        
            <button type="submit" class="btn btn-success" [disabled]="!postForm.valid">Optimize</button>
        </form>
      </div>
      <div *ngIf="fitnestIndividualValueOfX && fitnestIndividualValueOfY" class="col-sm">
        <div echarts [options]="options" class="demo-chart"></div>
        <table class="table" style="text-align: center; table-layout: fixed;">
          <thead>
            <tr><th colspan="2" scope="col">Best Result</th></tr>
            <tr>
              <th scope="col">X</th>
              <th scope="col">Y</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{fitnestIndividualValueOfX}}
              </td>
              <td>
                {{fitnestIndividualValueOfY}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
